.hide {
    display: none !important;
}

.searched-songs {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: scroll;
    flex-shrink: 0;
    padding: 5px;
    margin-bottom: 1rem;
}
.search-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
}
#cancel-btn {
    padding: 8px 9px 5px 9px;
    border-radius: 50%;
    box-sizing: border-box;
}
#cancel-btn:active {
    border: 1px solid rgb(134, 134, 134);
}
#cancel-btn:hover {
    background-color: #3c3c3c;
    transition-duration: 0.2s;
}
.searched-song-card {
    position: relative;
    padding: 0.35rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 4rem;
    background-color: #3c3c3c;
    border-radius: 8px;
}
.searched-song-play {
    padding: 0.5rem 1.2rem;
    margin-right: 0.4rem;
    cursor: pointer;
    border-radius: 30px;
}
.searched-song-play:hover {
    background-color: #ffffff;
    h3 {
        color: black;
    }
    transition-duration: 0.15s;
}
.searched-song-play:active {
    background-color: #848383;
}