.hide {
    display: none !important;
}

.searched-songs {
    position: fixed;
    width: 100%;
    min-height: 50%;
    max-height: 70%;
    background-color: #000000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: scroll;
    flex-shrink: 0;
    padding: 5px 1px 15px 9px;
    margin-bottom: 1rem;
    box-shadow: 164px 235px 233px rgb(89 89 89 / 88%);
    z-index: 1;
}

.search-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#cancel-btn {
    padding: 8px 9px 5px 9px;
    border-radius: 50%;
    box-sizing: border-box;
}

#cancel-btn:active {
    border: 1px solid rgb(134, 134, 134);
}

#cancel-btn:hover {
    background-color: #3c3c3c;
    transition-duration: 0.2s;
}

.searched-song-card {
    position: relative;
    padding: 0.35rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 4rem;
    background-color: #3c3c3c;
    border-radius: 8px;
}

.searched-song-play {
    font-size: 1.15rem;
    font-weight: bolder;
    padding: 0.5rem 1.2rem;
    margin-right: 0.4rem;
    cursor: pointer;
    border-radius: 30px;
}

.searched-song-play:hover {
    background-color: #ffffff;
    color: black;
    transition-duration: 0.15s;
}

.searched-song-play:active {
    background-color: #848383;
}


.loader {
    inset: 0;
    margin: auto;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: 8px solid rgb(127, 127, 127);
    border-top: 8px solid #212121;
    border-radius: 50%;
    animation: rotation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

 }


 @keyframes rotation {
    from {
        transform: rotate(0deg)
    } to {
        transform: rotate(360deg)
    }
 }