.invert {
    filter: invert(100%);
}

.invert-2 {
    filter: invert(70%);
}

.border-rad-1 {
    border-radius: 8px;
}

.sign-grey {
    color: #c0c0c0;
}

.pritam {
    background-image: url("https://i.scdn.co/image/ab67616100005174cb6926f44f620555ba444fca");
}

.arijit-singh {
    background-image: url("https://i.scdn.co/image/ab676161000051745ba2d75eb08a2d672f9b69b7");
}

.ar-rahman {
    background-image: url("https://i.scdn.co/image/ab67616100005174b19af0ea736c6228d6eb539c");
}

.sachin-jigar {
    background-image: url("https://i.scdn.co/image/ab67616100005174bd6fbc7d0973cc33940781ad");
}

.vishal-shekhar {
    background-image: url("https://i.scdn.co/image/ab6761610000517490b6c3d093f9b02aad628eaf");
}

.aatif-aslam {
    background-image: url("https://i.scdn.co/image/ab67616100005174c40600e02356cc86f0debe84");
}

.anirudh {
    background-image: url("https://i.scdn.co/image/ab676161000051740f0be2054fe9594026a6b843");
}

/* hamburger  */
.hamburger {
    height: fit-content;
    width: fit-content;
    padding: 1.5rem;
    background-image: url("hamburger.svg");
    filter: invert(100%);
    background-size: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-left {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* HamBurger Function Class  */



/* Like Button CSS  */
.turn-transparent path {
    fill: #a13f8800;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
}

.turn-green path {
    fill: #a13f88;
    stroke: #a13f88;
}