@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100vh;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    height: 85vh;
    width: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e3e9c31f-aa15-4a8f-8059-04f01e6b8629/web/IN-en-20250113-TRIFECTA-perspective_febfa442-23d9-45f3-937e-72f8b971f7a9_large.jpg");
    filter: contrast(1.11);
    background-size: max(2200px, 100vw);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 9px 10px 20px rgba(0, 0, 0, 0.5);
    z-index: -2;

}

#layer {
    pointer-events: none; /* Ensures #layer does not block interactions */
    position: absolute;
    display: flex;
    height: 85vh;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    top: 0;
    z-index: -1;
}

nav {
    position: absolute;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80px;
    width: 85vw;
}

nav .logo {
    background-color: transparent;
    height: 43px;
    width: 100px;
    background-image: url("Netflix_Logo.png");
    filter: contrast(1.4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#nav-btns {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFF
}

#nav-btns #language-picker {
    color: #FFFFFF;
    background-color: transparent;
    border: 0.2px solid #aaaaaa;
    box-sizing: border-box;
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 500;
}

#nav-btns #language-picker:focus {
    border: 3px solid #FFFFFF;
}

#nav-btns .btn {
    color: #FFFFFF;
    background-color: rgb(229, 9, 20);
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;

}

#nav-btns .btn:hover {
    background-color: rgb(200, 23, 32)
}


.hero-section {
    padding: 0 30px;
    transform: translateY(60%);
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-heading {
    position: relative;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: bolder;

}

#hero-para {
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 500px;
}

.user {
    margin: auto;
    margin-top: 15px;

}

.user span {
    font-size: 0.9rem;
}

.user input {
    position: relative;
    z-index: 5;
    color: #FFFFFF;
    margin-top: 15px;
    padding: 16px 5rem 16px 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: 0.2px solid rgb(179 179 179 / 50%);
    border-radius: 3px;
    background-color: rgb(0 0 0 / 39%);
}

.user .btn {
    position: relative;
    z-index: 5;
    cursor: pointer;
    margin-top: 16px;
    padding: 16px 1rem 16px 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;

}
.user .btn:hover {
    background-color: rgb(200, 23, 32);
}

/* Media Query for navbar  */
@media (max-width: 430px) {
    nav .logo {
        background-size: 6rem;
    }

    #nav-btns #language-picker {
        padding: 5px 3px;
    }
}

/* Media query for hero Section  */
@media (max-width: 630px) {
    .hero-section .hero-text #hero-heading {
        font-size: 33px;
    }
    .hero-section .hero-text #hero-para {
        font-size: 16px;
    }
    .hero-section {
        transform: translateY(60%);
    }
}
