@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100vh;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #000;
    position: relative;
    z-index: -2;
}

.background-image {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e3e9c31f-aa15-4a8f-8059-04f01e6b8629/web/IN-en-20250113-TRIFECTA-perspective_febfa442-23d9-45f3-937e-72f8b971f7a9_large.jpg");
    filter: contrast(1.11);
    background-size: max(2200px, 100vw);
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: inset 1px 9px 20px 9px rgb(0 0 0);
    z-index: -2;

}

#layer {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.70;
    top: 0;
    z-index: -1;
}

.curve-container {
    height: 90px;
    width: 100%;
    position: relative;
    z-index: 3;
    top: 57vh;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 16%,
            rgba(184, 40, 105, 1),
            rgba(229, 9, 20, 1),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 84%);
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
}

.curve {
    box-sizing: border-box;
    height: 101%;
    width: 100%;
    position: relative;
    z-index: 4;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: radial-gradient(50% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(0, 0, 0, 0.1) 100%),
        black;
}

nav {
    position: absolute;
    margin-left: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80px;
    width: 65vw;
}

nav .logo {
    background-color: transparent;
    height: 90px;
    width: 138px;
    background-image: url("Netflix_Logo.png");
    filter: contrast(1.4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#nav-btns {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFF
}

#nav-btns #language-picker {
    color: #FFFFFF;
    background-color: transparent;
    border: 0.2px solid #aaaaaa;
    box-sizing: border-box;
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 500;
}

#nav-btns #language-picker:focus {
    border: 3px solid #FFFFFF;
}

#nav-btns .btn {
    color: #FFFFFF;
    background-color: rgb(229, 9, 20);
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;

}

#nav-btns .btn:hover {
    background-color: rgb(200, 23, 32)
}


.hero-section {
    padding: 0 30px;
    transform: translateY(50%);
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-heading {
    position: relative;
    font-size: 4.9rem;
    color: #ffffff;
    font-weight: bolder;

}

#hero-para {
    color: #ffffff;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 500px;
}

.user {
    margin: auto;
    margin-top: 30px;

}

.user span {
    font-size: 1rem;
}

.user input {
    position: relative;
    z-index: 5;
    color: #FFFFFF;
    margin-top: 15px;
    padding: 18px 13rem 16px 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: 0.2px solid rgb(179 179 179 / 50%);
    border-radius: 3px;
    background-color: rgba(24, 24, 24, 0.611);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user .btn {
    position: relative;
    z-index: 5;
    cursor: pointer;
    margin-top: 15px;
    height: 3.45rem;
    width: 13rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;

}

.user .btn:hover {
    background-color: rgb(200, 23, 32);
}

.bottom-body-container {
    margin-bottom: 200px;
    display: flex;
    gap: 1.8rem;
    overflow-x: auto;
    margin: auto;
    width: 65%;
    max-width: 1200px;
    padding: 1.5rem;
    background-color: #000;
    border-radius: 8px;
    scrollbar-color: #393838 #000000;
}

.movies {
    flex: 0 0 auto;
    width: 12vw;
    min-width: 110px;
    height: 250px;
    border-radius: 4px;
}

.movie-1 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZMosKxdFgxev7W1YxooOu2wL_Kc3LwyYduCJ8nKme-kSdFXzCIRaMV4kYchreILRl6izcs-TrvJJCatDPe_vPwJ-wR6Zjk6yHTOXTM767pKfIrjgSGm5iTT5QFzgN6xjheO.jpg?r=06c");
    background-size: cover;
    background-position: center center;
}
.movie-2 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQEDSaystzESjISVXNUcnidnEvSdMMQ93HP2TjUY4um9PKSsU3h7MTCOR_kADDf0P1YMW3WM02TqEfUTrixH1o4eKw7TDBNZqAV-RLLIvWT7_9gtYUYEGGO-iIsRHet24xzy.jpg?r=14c");
    background-size: cover;
    background-position: center center;
}
.movie-3 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdtI3qpl44Mqt3cF7fLUeETUD2gmqPcRyZltCa4p2nJhI04eMY8JQ-mP4gqNZEc2ORSotMR3FJgelqWI29fe_k_2c3koayQSnCo.jpg?r=e1d");
    background-size: cover;
    background-position: center center;
}
.movie-4 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVIXwU97bc1M-8NWuaiMQcrbNZMsG5gxGA9pAQakEcwa8_nel_9EfL9dbt5O7fbprc9Udp0enwYKpZIreIboRBybE_r4kDy4L-VohacrrgkhKg5zuMDnPCb55EAYE_dhXRm4.jpg?r=dfc");
    background-size: cover;
    background-position: center center;
}
.movie-5 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUEGRIx8pMkzIHvS6XmVZgzHYZMG2dIBRVOVc3UXSqbxdOEjKzVBpEWQMUAnSyYy8jTsT6z7eIevymQ1FUCKMQa8UJGMD51Z_noJTVhLAwNamAYy4Iyxhh4gY-cjE0l-skj_.jpg?r=e02");
    background-size: cover;
    background-position: center center;
}
.movie-6 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZs4GW3WDVsjXWM20j8LvVzDMV-rHCT77eb1VVXtATBzEivjiK9_mKgKl3tiHXwZ-9Bzl7hUoIodArSOU7e-c7y7WDmy9aV0RwZEWzmqFdJGwO8RvP9el-x-a5WdISIkX4vG.jpg?r=e48");
    background-size: cover;
    background-position: center center;
}
.movie-7 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYGTGD-fxq0DEV1gNw-skG1_on4ZqYHYWgmiglVmf-l445vJs-lHgrjJ0SF11rpCQbm4jZx60OfB-w3pLtc8Y3ojBuleqdHUP18.jpg?r=bf7");
    background-size: cover;
    background-position: center center;
}
.movie-8 {
    background-image: url("https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTPYH3Xvoi8dTgeuS794DSnIpfxQbQcF8tNSf47WMkTQqOeF0sW-dLxv-OZDt6fezcQKgKAnA1G_Yn5-PsISXfx6Uz7c4sVBh0c.jpg?r=4ed");
    background-size: cover;
    background-position: center center;
}


/* Media Query for navbar  */
@media (max-width: 580px) {
    nav {
        width: 95vw;
        margin-left: 2%;
    }

    nav .logo {
        background-size: 6rem;
    }

    #nav-btns #language-picker {
        padding: 5px 3px;
    }

}

@media (max-width: 760px) {
    .background-image {
        height: 60vh;
    }
}

@media (max-width: 740px) {
    .hero-section {
        transform: translateY(40%);
    }

    form {
        flex-direction: column;
    }

    .curve-container {
        width: 120%;
        left: -10%;
        top: 30vh;
    }
}

@media (max-width: 500px) {
    .user form input {
        padding: 18px 3rem 16px 1rem;
    }
}

/* Media query for hero Section  */
@media (max-width: 630px) {
    .hero-section .hero-text #hero-heading {
        font-size: 33px;
    }

    .hero-section .hero-text #hero-para {
        font-size: 16px;
    }

    .hero-section {
        transform: translateY(40%);
    }

}

@media (min-width: 630px) {
    .curve-container {
        width: 120%;
        left: -10%;
    }
}

@media(min-width: 921px) {
    .curve-container {

        top: 57vh;

    }
}

@media (min-width: 742px) and (max-width: 819px) {
    .curve-container {
        width: 120%;
        left: -12%;
        top: 57vh;

    }
}

@media(min-width: 820px) and (max-width: 920px) {
    .curve-container {

        top: 50vh;

    }
}

@media (max-width: 630px) {
    .curve-container {
        width: 120%;
        left: -10%;
        top: 23vh;
    }
}