.add-sub-detail-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.add-sub-detail-modal-inner {
    /* transform: translateY(200%); */
    height: fit-content;
    width: 80%;
    padding: 30px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40%;
}

.add-sub-detail-modal-inner input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.371);
    border-radius: 12px;
    padding-left: 10px;
}

.add-sub-detail-modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

}

#enter-sub-detail-name-btn,
#cancel-sub-detail-name-btn {
    font-size: 0.8rem;
    border-radius: 30px;
    width: 48%;
}

#enter-sub-detail-name-btn:active,
#cancel-sub-detail-name-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

#cancel-sub-detail-name-btn {
    color: rgb(67, 67, 67);
    background-color: rgba(149, 149, 149, 0.499);
    font-weight: bold;
}


.hide {
    display: none;
}