.sub-details {
    width: 100%;
    height: fit-content;
    background-color: #ffe9001a;
    border: 1px solid #01002d33;
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1%;
}

.sub-detail-name {
    width: 100%;
    text-align: center;
}

.sub-detail-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #00000012;
    border-radius: 100%;
}

.sub-detail-total {
    margin-top: 7px;
}

.individual-detail {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}