#modal-content-pad {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: white;
}
#modal-expense-name {
    color: white;
    margin: 0;
    padding: 0;
}

.allocations {  
    margin-top: 0.5%;
    width: 97%;
    background-color: #020077;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#details-box{
    margin-top: 5px;
    height: 92%;
    max-height: 75%;
    overflow-y: auto;
    width: 97%;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 100%;
    padding: 2px;
    text-align: center;
}
.headings span{
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.headings {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    margin-top: 0.2rem;
}

#details-box span {
    font-size: 12px;
}

.sub-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-detail {
    margin: 0;
    margin-bottom: 2px;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(255, 64, 0);
    color: #ffffff;
    font-size: 10px;
    padding: 4px;
}

#clear-detail:hover {
    background-color: rgb(185, 37, 7);
}
#spend-btn {
    margin:0;
    margin-top: 5px;
    width: 50px;
    height: 25px;
    font-size: 11px;
    background-color: rgb(209, 101, 0);
    padding: 0;
}
#spend-btn:hover {
    background-color: rgb(102, 85, 0);
}
#credit-btn {
    margin:0;
    margin-top: 5px;
    width: 50px;
    height: 25px;
    font-size: 11px;
    background-color: rgb(0, 170, 0);
    padding: 0;
}
#credit-btn:hover {
    background-color: rgb(0, 102, 0);
}