.partition-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 88px;
    border: 1px  solid #060d7f2e;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
}

.partition-container {
    background-color: #f5faff;
    display: flex;
    flex-direction: column;
    min-height: 65dvh;
    overflow-y: auto;

    /* Hide scrollbar for Chrome, Edge, Safari */
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* Internet Explorer & Edge */
}
.partition-container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}


.partition-container .partition-card .partition-card-btns .delete-btn {
    background-color: #8c0000ad;
    position: relative;
    right: 0.5rem;
}

.add-expense-btn {
    padding: 1px 12px 0 12px;
    width: 3rem;
    height: 1.5rem;
    font-size: 0.8rem;
    margin: 0;
    background-color: #000451a6;
}

.partition-card .partition-card-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 17%;
    margin-top: 6%;
}


.partition-details {
    background-color: #060d7f2e;
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.partition-details-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;

}