.progress-container {
  position: relative;
  width: 68px;
  height: 68px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__background {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 6;
}

.progress-ring__circle {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;

  stroke-dasharray: 189;   /* 2π × 25 */
  stroke-dashoffset: 30;


  transition: stroke-dashoffset 0.6s ease;
}


.progress-text {
  position: absolute;
  inset: 0;
  color: white;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}
