.spend-modal, .credit-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.spend-modal-inner, .credit-modal-inner {
    transform: translateY(100%);
    height: fit-content;
    width: 80%;
    padding: 30px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spend-modal-inner input , .credit-modal-inner input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.371);
    border-radius: 12px;
    padding-left: 10px;
}
.spend-modal-btns, .credit-modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

}
#enter-spend-btn, #cancel-spend-btn, #enter-credit-btn, #cancel-credit-btn {
    border-radius: 30px;
    width: 48%;
}

#cancel-spend-btn, #cancel-credit-btn {
    color: rgb(94, 94, 94);
    background-color: rgba(149, 149, 149, 0.31);
    font-weight: bold;
}
#cancel-spend-btn:hover, #cancel-credit-btn:hover {
    background-color: rgba(128, 128, 128, 0.825);
    color: black;
}

.hide {
    display: none;
    
}