.spend-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.spend-modal-inner {
    transform: translateY(100%);
    height: fit-content;
    width: 80%;
    padding: 30px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spend-modal-inner input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.371);
    border-radius: 12px;
    padding-left: 10px;
}

#enter-spend, #cancel-spend {
    border-radius: 30px;
    width: 115px;
}

#enter-spend {
    margin-top: 15px;
    
}
#cancel-spend {
    color: rgb(94, 94, 94);
    background-color: rgba(149, 149, 149, 0.31);
    font-weight: bold;
}
#cancel-spend:hover {
    background-color: rgba(128, 128, 128, 0.825);
    color: black;
}

.hide {
    display: none;
    
}