/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

  }
  
  /* Body styling */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5faff;
    color: #002750;
    height: auto;        /* important: don't lock height to 100vh */
    overflow-y: auto
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 10px 0 20px;
    background-color: #020077;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

  }
  
  header span {
    font-size: 16px;
    color: #ffffff;
  }
  
  header h1 {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Main section */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
  /* Container box */
  .container {
    background-color: #f5faff;
    margin-top: 10px;
    padding: 0;
    border-radius: 12px;
    width: 100%;
    max-width: 360px;
    height: 83dvh;
    transition: transform 0.2s ease-in-out;
    overflow: auto;
    /* Hide scrollbar for Chrome, Edge, Safari */
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* Internet Explorer & Edge */
}

.container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}
  
  
  .top-shadow {
    display: block;
    margin-left: 1.5rem;
  }

  .balance {
    width: 22rem;
    display: flex;
    gap: 5rem;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  /* Balance */
  .container h3 {
    margin-bottom: 10px;
    font-size: 20px;
    display: inline;
    color: #003366;
  }
  
  #edit-amount-btn {
    width: 52px;
    height: 21px;
    font-size: 11px;
    margin-top: 4px;
    
  }
  /* Expense Card */
  .expense-card {
    border: 0.5px solid rgba(0, 0, 0, 0.241);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 70px;
    min-height: 60px;
    background-color: #f1f6ff;
  }
  
  .expense-card h3 {
    color: #020077;
    font-size: 18px;
  }
  
  /* Add Button */
  button {
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #020077;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #020077;
  }
  

  .delete-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 7px;
    margin-left: 85%;
  }
  
  .delete-btn:hover {
    background-color: #e60000;
    transform: scale(1.05);
  }
  
  .expense-card:hover {
    background-color: #a1bee1;
  }