.add-sub-detail-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.add-sub-detail-modal-inner {
    height: fit-content;
    width: 80%;
    padding: 30px;
    background-color: var(--bg-modal);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 55%;
    box-shadow: var(--shadow-soft-I);
}

.add-sub-detail-modal-inner input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    padding-left: 10px;
}

.add-sub-detail-modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}

#enter-sub-detail-name-btn,
#cancel-sub-detail-name-btn {
    font-size: 0.9rem;
    border-radius: 30px;
    height: 2rem;
    width: 48%;
    background-color: var(--bg-modal-btns-save);
    color: var(--text-primary-inverted);
    box-shadow: var(--shadow-soft-I);
    font-weight: 600;
}

#enter-sub-detail-name-btn:active,
#cancel-sub-detail-name-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

#cancel-sub-detail-name-btn {
    color: var(--text-primary);
    background-color: var(--bg-modal-btns-cancel);
    border: 1px solid var(--border-soft);
    font-weight: bold;
}


.hide {
    display: none;
}