.add-from-partition-modal-outer {
    background-color: rgba(0, 0, 0, 0.395);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-from-partition-inner {
    margin-top: -35%;
    height: fit-content;
    width: 80%;
    max-width: 360px;
    padding: 30px;
    border-radius: 13px;
    display: flex;
    background-color: var(--bg-modal);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.add-from-partition-inner h4, span {
    text-align: center;
    color: var(--text-primary);
}

.add-from-partition-inner input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    padding-left: 10px;
}

.add-from-partition-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.add-from-section-btns {
    border-radius: 30px;
    width: 48%;
    height: 2rem;
    font-size: 0.9rem;
    background: var(--bg-modal-btns-save);
    color: var(--text-primary-inverted);
    font-weight: 600;
    box-shadow: var(--shadow-soft-I);
}
#cancel-add-from-section {
    color: var(--text-primary);
    background-color: var(--bg-modal-btns-cancel);
    font-weight: bold;
}

.hide {
    display: none;
}