.sub-details {
    width: 100%;
    height: fit-content;
    background-color: var(--bg-surface);
    border: 1px solid var(--border-soft);
    color: var(--text-primary);
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1%;
}

.sub-detail-name {
    width: 100%;
    text-align: center;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sub-detail-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 1px;
    background-color: var(--text-muted-I);
    border-radius: 100%;
}

.cross {
    border-radius: 100%;
    margin: -8px;
    fill: var(--text-muted-I);
}

.sub-detail-total {
    margin-top: 7px;
}

.individual-detail {
    width: 100%;
    height: fit-content;
    color: var(--text-muted);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-detail-title:focus {
    outline: none;
    border: none;
}

#modal-expense-name:focus {
    outline: none;
    border: none;
}