.expense-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.expense-container::-webkit-slider-thumb {
  width: 0;
  height: 0;
}

.expense-container .expense-card {
  width: 97%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-card:hover {
  background-color: #5e69e1c1;
  transition: ease 0.2s;
}

.expense-card:active {
  scale: 1.03;
  transition: ease 0.2s;
}

.expense-container .expense-card .delete-expense-btn {
  margin-bottom: 0;
  transition: transform 0.2s ease-in-out;
}

.delete-expense-btn:active {
  transform: scale(0.8);
}

.expense-details {
  width: 100%;
  height: 85%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}


.expense-card {
  background: linear-gradient(135deg,
      var(--bg-elevated),
      var(--bg-surface));
  border-radius: var(--radius-md);
  padding: 0.8rem 1rem;
  border: 1px solid var(--border-soft);
  transition: transform 0.2s ease, background 0.2s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.499);

}

.expense-card:hover {
  transform: translateY(-2px);
}

.expense-details h4 {
  color: var(--text-primary);
  font-weight: 500;
}

.expense-details h5 {
  color: var(--text-secondary);
}

.delete-expense-btn-folder {
  fill: var(--folder-fill);
}
.delete-expense-btn-minus {
  fill: var(--text-muted);
}