.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}
#expense-input {
    margin-bottom: 0px;
}
.modal-content {
    background-color: var(--bg-modal);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    width: 83%;
    height: 38%;
    max-height: 225px;
    z-index: 1100;
    margin-top: 30%;
}

.expense-modal-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

#save-expense-btn, #cancel-expense-btn {
    border-radius: 20px;
    background: var(--bg-modal-btns-save);
    color: var(--text-primary-inverted);
    font-weight: 600;
    box-shadow: var(--shadow-soft-I);
}
#cancel-expense-btn {
    background-color: var(--bg-modal-btns-cancel);
    color: var(--text-primary);
    font-weight: 600;
    
}

#save-expense-btn:active, #cancel-expense-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

.hide {
    display: none;
}
#close-modal {
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.363);
}