.partition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.partition-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 300px;
    margin-top: 45%;
    max-height: fit-content;
    text-align: center;
}

.partition-modal-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partition-content input {
    width: 95%;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.partition-content button {
    margin: 5px;
    margin-top: 30px;
    height: 2rem;
    width: 50%;
    font-size: 14px;
}

.add-partition-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#add-partition-btn {
    height: 33px;
    width: 87px;
    margin:0;
    font-size: 11px;
    padding: 2px;
    background-color: rgb(16, 27, 118);
}
.add-partition-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

#save-partition-btn, #cancel-partition-btn {
    border-radius: 20px;
}
#cancel-partition-btn {
    background-color: #dfdfdf;
    color: black;
    font-weight: 600;
}

#save-partition-btn:active, #cancel-partition-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

.hide{
    display: none;
}