.partition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.partition-content {
    background: var(--bg-modal);
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 300px;
    margin-top: 10rem;
    max-height: fit-content;
    text-align: center;
}

.partition-modal-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partition-content input {
    width: 95%;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.432);
}

.partition-content button {
    margin: 5px;
    margin-top: 30px;
    height: 2rem;
    width: 50%;
    font-size: 14px;
}

.add-partition-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#add-partition-btn {
    height: 33px;
    width: 64px;
    margin: 0;
    margin-right: 10px;
    font-size: 11px;
    padding: 2px;
    fill:rgba(243, 148, 5, 0.86);
    background-color: transparent;
}

#save-partition-btn,
#cancel-partition-btn {
    border-radius: 20px;
    background: var(--bg-modal-btns-save);
    color: var(--text-primary-inverted);
    font-weight: 600;
    box-shadow: var(--shadow-soft-I);
    
}

#cancel-partition-btn {
    background-color: var(--bg-modal-btns-cancel);
    color: var(--text-primary);
    border: 1px solid var(--border-soft);
}

#save-partition-btn:active,
#cancel-partition-btn:active {
    scale: 0.9;
    transition: ease 0.2s;
}

.hide {
    display: none;
}