.partition-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px  solid #060d7f2e;
    border-radius: 8px;
    margin-top: 10px;
    background-color: white;
}

.partition-title:focus {
    outline: none;
    border: none;
}

.partition-container {
    background-color: #f5faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partition-container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}


.partition-container .partition-card .partition-card-btns .delete-btn {
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    transform: rotateY(180deg);
    cursor: pointer;
    border-radius: 25px;
}

.partition-container .partition-card .partition-card-btns .delete-btn:active {
    transform: scale(1.2);
}

.add-expense-btn {
    transition: transform 0.1s ease-in;
}

.add-expense-btn:active {
    transform: scale(1.1);
}

.partition-card .partition-card-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}


.partition-details {
    background-color: #060d7f2e;
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.partition-details-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;

}