.progress-container {
  position: relative;
  width: 68px;
  height: 68px;
}

/* .progress-ring {
  transform: rotate(-90deg);
} */

.progress-ring__background {
  fill: none;
  stroke: #0a2b6d;
  stroke-width: 7;
}

.progress-ring__circle {
  fill: none;
  stroke-width: 7;
  stroke-linecap: round;

  stroke-dasharray: 189;   /* 2π × 25 */
  stroke-dashoffset: 30;

  transform: rotate(-90deg);
  transform-origin: 35px 35px; 

   transition: stroke-dashoffset 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}


.progress-text {
  position: absolute;
  inset: 0;
  color: white;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  transition: opacity 0.3s ease;
  font-variant-numeric: tabular-nums;
  font-size: 0.9rem;
}
