/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  -webkit-tap-highlight-color: transparent;

}

html {
  height: 100dvh;
}

/* Body styling */
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5faff;
  color: #002750;
  max-height: 100dvh;
  /* important: don't lock height to 100vh*/
  max-width: 100dvw;
  touch-action: manipulation;
}


/* Header */
header {
  text-align: center;
  position: relative;
  padding: 10px 0 20px;
  background-color: rgb(16, 27, 118);
  width: min(100dvw, 820px);
  margin: auto;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  z-index: 1;

}

input:focus {
  outline: 2px solid #0e1556;
}

.logo-name {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  background-color: rgba(168, 30, 30, 0);
}

#icon {
  width: 2.2rem;
  height: 2.2rem;
  /* background-color: rgb(255, 255, 255); */
  /* filter: invert(100%); */
  border-radius: 15%;
}

#hero {
  color: #ffffff;
  font-size: larger;
}

#hero:hover {
  border: 1px solid rgba(255, 255, 255, 0.495);
  border-radius: 5px;
  width: fit-content;
  height: 80%;
  box-sizing: content-box;
  padding: 4px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  width: 100%;
}

#install-btn {
  width: 4.2rem;
  height: 1.8rem;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);

}

#install-btn:active,
.menu:active {
  scale: 0.96;
  transition: 0.2s ease;
}

.menu {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}



/* Main section */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#total-balance {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-variant-numeric: tabular-nums;
}

/* Container box */
.container {
  background-color: #f5faff;
  padding: 0 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  width: min(100dvw, 820px);
  margin: auto;
  max-height: calc(99dvh - 10.6rem);
  overflow-y: auto;
  overflow-x: hidden;

  /* smooth srolling  */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  touch-action: pan-y;
  will-change: scroll-position;

  /* Hide scrollbar for Chrome, Edge, Safari */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer & Edge */
}

.container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}


.top-shadow {
  position: relative;
  width: min(100dvw, 820px);
  margin: auto;
  height: 6.5rem;
  display: block;
  padding: 0.5rem 0.5rem;
  z-index: 1;
}

.balance {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* Balance */
.container h3 {
  margin-bottom: 10px;
  font-size: 20px;
  display: inline;
  color: #003366;
}

.edit-amount-btn {
  width: 25px;
  height: 25px;
  font-size: 11px;
  margin: 0;
}

.edit-amount-btn:active {
  scale: 0.8;
  transition: ease 0.2s;
}

/* Expense Card */
.expense-card {
  border: 0.5px solid rgba(0, 0, 0, 0.241);
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  height: 70px;
  min-height: 60px;
  background-color: #f1f6ff;
}

.expense-card h3 {
  color: #020077;
  font-size: 18px;
}

/* Add Button */
button {
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #020077;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #020077;
}

.expense-card:hover {
  background-color: #a1bee1;
}

footer {
  text-align: center;
  padding: 2px;
  opacity: 0.9;
  font-family: sans-serif;
  font-size: x-small;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}


/* update banner  */
.update-banner-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(177, 177, 177, 0);
  backdrop-filter: blur(1px);
  z-index: 2;
}

.update-banner {
  background: #070e93;
  color: white;
  padding: 10px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80%, 250px);
  gap: 12px;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.update-banner button {
  background: #2158fe;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none;
}