:root {
  /* Backgrounds */
  --bg-main: #1c1c1c;
  --bg-surface: #2d2d2d;
  --bg-card: #222222;
  --bg-elevated: #3d3d3dde;
  --bg-elevated-inverted: rgb(31, 31, 31);
  --bg-elevated-section: #0000002e;
  --bg-surface-section: #6363638a;
  --bg-modal: #3d3d3d;
  --bg-menu-btns : #3f3e3e8a;
  --bg-modal-btns-save: #e5e5e5;
  --bg-modal-btns-cancel: #5f5d5d54;

  /* Text */
  --text-primary: #f4f6ff;
  --text-primary-inverted: #161617;
  --text-secondary: #aeb6ff;
  --text-muted: #b0b0b0;
  --text-muted-I: #ffffff35;

  /* Accent */
  --accent-primary: #2c2d2d;
  --accent-secondary: #000000;
  --accent-danger: #ff6b6b;

  /* fills  */
  --folder-fill: rgba(126, 62, 191, 0.833);

  /* Borders & shadows */
  --border-soft: rgba(168, 168, 168, 0.206);
  --shadow-soft: 0 10px 30px rgba(28, 28, 28, 0.105);
  --shadow-soft-I : 1px 2px 4px 0px #00000047;
  --outline-I: rgba(198, 198, 198, 0.903);


  /* Radius */
  --radius-lg: 18px;
  --radius-md: 14px;
  --radius-sm: 6px;
}
