.update-progress-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.449);
}

.update-container {
    background: var(--text-primary-inverted);
    color: var(--text-primary);
    border: 1px solid var(--border-soft);
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    width: 320px;
    max-width: 360px;
    animation: scaleIn 0.2s ease-in;
}

.progress-wrapper {
    width: 100%;
    height: 24px;
    border-radius: 20px;
    border: 2px solid var(--text-primary);
    overflow: hidden;
    margin: 20px 0;
    background: transparent;
    position: relative;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: var(--folder-fill);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #083b6d;
    font-size: 12px;
    font-weight: 600;
    transition: width 0.25s ease;
    white-space: nowrap;
    
}

#progress-text {
    pointer-events: none;
}

@keyframes scaleIn {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.hide {
    display: none;
}
